In [1]:
import pandas as pd
import numpy as np

C:\Anaconda\lib\site-packages\pandas\computation\__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

#### Create a few dataframes to be used later

In [4]:
#create data set with monthly quantities for companies a, b, c
df_yearmoncomp = pd.DataFrame(np.random.rand(10, 1), columns=['Quantity'])
df_yearmoncomp['Month'] = [12,1,1,2,2,12,3,3,4,4]
df_yearmoncomp['Year'] = [2015,2016,2016,2016,2016,2015,2016,2016,2015,2016]
df_yearmoncomp['Company'] = ['a','b','c','a','b','c','a','b','c','b']

In [5]:
cols = ['a', 'b', 'c','d']
df_yearmon = pd.DataFrame(np.random.rand(10, 4), columns=cols)
df_yearmon['month'] = [12,1,1,2,2,12,3,3,4,4]
df_yearmon['year'] = [2015,2016,2016,2016,2016,2015,2016,2016,2015,2016]
df_yearmon

          a         b         c         d  month  year
0  0.305592  0.544801  0.646715  0.191717     12  2015
1  0.722499  0.676710  0.729673  0.688268      1  2016
2  0.587219  0.576433  0.653122  0.835143      1  2016
3  0.606165  0.272991  0.083532  0.482752      2  2016
4  0.723304  0.147909  0.378562  0.574532      2  2016
5  0.607789  0.040271  0.856375  0.143306     12  2015
6  0.769173  0.284904  0.871117  0.914299      3  2016
7  0.083085  0.808235  0.521538  0.646097      3  2016
8  0.332913  0.014651  0.489688  0.094011      4  2015
9  0.096717  0.748926  0.881440  0.320363      4  2016

In [2]:
np.random.seed(2016)
cols = ['a_us', 'b_us', 'a_ww','b_ww']
df = pd.DataFrame(np.random.rand(5, 4), columns=cols)

values1 = ['a', 'b', 'c', 'd','e','f']
df1 = pd.DataFrame(np.random.rand(3, 6), columns=values1)

values2 = ['a', 'b', 'c', 'd','e','f']
df2 = pd.DataFrame(np.random.rand(1, 6), columns=values2)

#another easy way of making sample df:
df_temp = pd.DataFrame(np.random.rand(1, 4), columns=list('abcd'))

# Working with Excel Files

### Write to Excel

In [38]:
cols = ['a_us', 'b_us', 'a_ww','b_ww']
df_out = pd.DataFrame(np.random.rand(5, 4), columns=cols)

writer = pd.ExcelWriter('testReadWrite.xlsx',engine='xlsxwriter')
df_out.to_excel(writer,startcol=0,startrow=0,sheet_name='TestDF')

### Read in

In [39]:
df_in = pd.read_excel('testReadWrite.xlsx',sheetname="TestDF")
#look at first few lines (can specify a specific number, eg head(6)
df_in.head()

       a_us      b_us      a_ww      b_ww
0  0.002872  0.460832  0.465699  0.131263
1  0.846884  0.036582  0.234995  0.236192
2  0.471498  0.305768  0.648769  0.467451
3  0.442808  0.672257  0.568147  0.812801
4  0.486156  0.195099  0.694671  0.152237

### Write tabs to an existing workbook

##### create dataframes and write first df to excel file

In [22]:
from openpyxl import load_workbook
import time

#write to excel
writer = pd.ExcelWriter('testbook.xlsx',engine='xlsxwriter')
df1.to_excel(writer,startcol=0,startrow=0,sheet_name='DF1')

#pause for a couple seconds to write file
time.sleep(2)

##### write second df to already existing excel file

In [23]:
book = load_workbook('testbook.xlsx')
writer = pd.ExcelWriter('testbook.xlsx', engine='openpyxl') 
writer.book = book
writer.sheets = dict((ws.title, ws) for ws in book.worksheets)

df2.to_excel(writer, "DF2", columns=['b', 'c'])

writer.save()

### Write to specifc locations in a worksheet

In [25]:
#create 2 dataframes
df1 = pd.DataFrame(np.random.rand(4,5), columns = list('abcde'))
df2 = pd.DataFrame(np.random.rand(4,5), columns = list('fghij'))
writer = pd.ExcelWriter('testbook2.xlsx',engine='xlsxwriter')
#write dataframes to excel, specifying row and column to start)
df1.to_excel(writer,startcol=1,startrow=2,sheet_name='DFs')
df2.to_excel(writer,startcol=1,startrow=8,sheet_name='DFs')
worksheet = writer.sheets['DFs']
#add title to sheet and above each dataframe
worksheet.write_string(0, 0, 'Two Dataframes')
worksheet.write_string(1, 0, 'Dataframe 1')
worksheet.write_string(7, 0, 'Dataframe 2')
writer.save()

# Row/Column Manipulations

### Perform calculations on multiple rows taking advantage of prefixes/suffixes (similar to SAS macro)

In [154]:
#calculate rest of world for a and b (row = ww - us; numbers wont make sense since randomly generated)
df_temp = df.copy()
for x in ['a','b']:
    df_temp[x + '_row'] = df_temp[x + '_ww']-df_temp[x + '_us']
df_temp

       a_us      b_us      a_ww      b_ww     a_row     b_row
0  0.151485  0.301925  0.028507  0.382461 -0.122977  0.080536
1  0.782492  0.520460  0.315158  0.684032 -0.467333  0.163572
2  0.755787  0.291101  0.212319  0.466860 -0.543469  0.175758
3  0.100232  0.411951  0.491221  0.042849  0.390989 -0.369102
4  0.963324  0.353204  0.155808  0.117041 -0.807516 -0.236163

### Delete Column

In [155]:
#delete column b_ww
df_temp = df.copy()
print(df_temp)
del df_temp['b_ww']
print("1st way of deleting:")
print(df_temp)

#or similar to SAS "keep"
df_temp = df.copy()
df_temp = df_temp[['a_us','b_us','a_ww']]
print("2nd way of deleting:")
print(df_temp)

       a_us      b_us      a_ww      b_ww
0  0.151485  0.301925  0.028507  0.382461
1  0.782492  0.520460  0.315158  0.684032
2  0.755787  0.291101  0.212319  0.466860
3  0.100232  0.411951  0.491221  0.042849
4  0.963324  0.353204  0.155808  0.117041
1st way of deleting:
       a_us      b_us      a_ww
0  0.151485  0.301925  0.028507
1  0.782492  0.520460  0.315158
2  0.755787  0.291101  0.212319
3  0.100232  0.411951  0.491221
4  0.963324  0.353204  0.155808
2nd way of deleting:
       a_us      b_us      a_ww
0  0.151485  0.301925  0.028507
1  0.782492  0.520460  0.315158
2  0.755787  0.291101  0.212319
3  0.100232  0.411951  0.491221
4  0.963324  0.353204  0.155808

### Drop columns with a common prefix/suffix

##### Drop columns using common prefix

In [173]:
df_temp=df.copy()
#drop b
cols_to_keep = [c for c in df_temp.columns if c.lower()[:1] != 'b']
df_sub=df_temp[cols_to_keep]
df_sub.head()

       a_us      a_ww
0  0.706487  0.005603
1  0.291099  0.132430
2  0.275922  0.569396
3  0.094122  0.218767
4  0.267749  0.137033

##### Drop columns using common suffix

In [12]:
df_temp=df.copy()
#slice column name by starting 2 from the left through end [2:]
cols_to_keep = [c for c in df_temp.columns if c.lower()[2:] != 'ww']
df_sub1=df_temp[cols_to_keep]
print(df_sub1.head())

#or slice column name by taking 2 from the right to the end [-2:]
##this is useful in the case that company names are different lengths
cols_to_keep = [c for c in df_temp.columns if c.lower()[-2:] != 'ww']
df_sub2=df_temp[cols_to_keep]
print(df_sub2.head())

       a_us      b_us
0  0.896705  0.730239
1  0.462090  0.642565
2  0.747126  0.625107
3  0.131956  0.143948
4  0.069347  0.942829
       a_us      b_us
0  0.896705  0.730239
1  0.462090  0.642565
2  0.747126  0.625107
3  0.131956  0.143948
4  0.069347  0.942829

### Conditionally subset rows

##### Subset based on value in 1 column

In [178]:
#keep only rows with a_us gt .2
df_temp = df.copy()
df_temp = df_temp[df_temp.a_us >.2]
print(df_temp.head())

       a_us      b_us      a_ww      b_ww
0  0.706487  0.675229  0.005603  0.517866
1  0.291099  0.581805  0.132430  0.750417
2  0.275922  0.316089  0.569396  0.892939
4  0.267749  0.188252  0.137033  0.083333

##### Subset based on null values

In [179]:
#drop rows with null values in b_us
df_temp = df.copy()
df_temp.ix[df_temp.b_us > .5] = np.NaN
print(df_temp.head())
df_temp = df_temp[df_temp.b_us.notnull()]
print(df_temp.head())

       a_us      b_us      a_ww      b_ww
0       NaN       NaN       NaN       NaN
1       NaN       NaN       NaN       NaN
2  0.275922  0.316089  0.569396  0.892939
3  0.094122  0.335051  0.218767  0.853052
4  0.267749  0.188252  0.137033  0.083333
       a_us      b_us      a_ww      b_ww
2  0.275922  0.316089  0.569396  0.892939
3  0.094122  0.335051  0.218767  0.853052
4  0.267749  0.188252  0.137033  0.083333

##### Keep only certain columns while also subsetting rows conditionally

In [180]:
#keep columns a_ww, b_ww and rows conditionally on column a_us
df_temp = df.copy()
print(df_temp)
df_temp = df_temp[df_temp.a_us > 0.6][['a_ww', 'b_ww']]
print(df_temp)

       a_us      b_us      a_ww      b_ww
0  0.706487  0.675229  0.005603  0.517866
1  0.291099  0.581805  0.132430  0.750417
2  0.275922  0.316089  0.569396  0.892939
3  0.094122  0.335051  0.218767  0.853052
4  0.267749  0.188252  0.137033  0.083333
       a_ww      b_ww
0  0.005603  0.517866

### Merge

See pandas docs for lots more info about merges and joins: http://pandas.pydata.org/pandas-docs/stable/merging.html

In [165]:
df_temp = df_yearmoncomp.copy()
print("df_temp:")
print(df_temp)

df_temp2 = pd.DataFrame([[2015,1,3],[2015,3,23],[2016,3,6],[2016,4,4]], columns=['year','month','Users'])
print("\n df_temp2:")
print(df_temp2)

#inner join using 2 keys
df_inner = pd.merge(df_temp,df_temp2,left_on=['Year','Month'],right_on=['year','month'],how='inner')
del df_inner['year']
del df_inner['month']
print("\n inner (intersection):")
print(df_inner)

#outer join using 2 keys
df_outer = pd.merge(df_temp,df_temp2,left_on=['Year','Month'],right_on=['year','month'],how='outer')
del df_outer['year']
del df_outer['month']
print("\n outer (union):")
print(df_outer)

df_temp:
   Quantity  Month  Year Company
0  0.280621     12  2015       a
1  0.503912      1  2016       b
2  0.239444      1  2016       c
3  0.483798      2  2016       a
4  0.037326      2  2016       b
5  0.067238     12  2015       c
6  0.981013      3  2016       a
7  0.000389      3  2016       b
8  0.977918      4  2015       c
9  0.946711      4  2016       b

 df_temp2:
   year  month  Users
0  2015      1      3
1  2015      3     23
2  2016      3      6
3  2016      4      4

 inner (intersection):
   Quantity  Month  Year Company  Users
0  0.981013      3  2016       a      6
1  0.000389      3  2016       b      6
2  0.946711      4  2016       b      4

 outer (union):
    Quantity  Month    Year Company  Users
0   0.280621   12.0  2015.0       a    NaN
1   0.067238   12.0  2015.0       c    NaN
2   0.503912    1.0  2016.0       b    NaN
3   0.239444    1.0  2016.0       c    NaN
4   0.483798    2.0  2016.0       a    NaN
5   0.037326    2.0  2016.0       b    NaN
6   0.981013    3.0  2016.0       a    6.0
7   0.000389    3.0  2016.0       b    6.0
8   0.977918    4.0  2015.0       c    NaN
9   0.946711    4.0  2016.0       b    4.0
10       NaN    NaN     NaN     NaN    3.0
11       NaN    NaN     NaN     NaN   23.0

### Transpose long to wide

In [181]:
df_T = df_yearmoncomp.copy()
#reorder variables
df_T = df_T[['Year','Month','Company','Quantity']]

print("before transpose:")
print(df_T)

#tranpose long to wide
df_T=df_T.pivot_table(values='Quantity', columns='Company',index=['Year','Month'],aggfunc=np.sum)
df_T.columns.name=None
df_T.reset_index(inplace=True)

print("\n after tranpose:")
print(df_T)

before transpose:
   Year  Month Company  Quantity
0  2015     12       a  0.776151
1  2016      1       b  0.383140
2  2016      1       c  0.057523
3  2016      2       a  0.033073
4  2016      2       b  0.286594
5  2015     12       c  0.366673
6  2016      3       a  0.917808
7  2016      3       b  0.896885
8  2015      4       c  0.382156
9  2016      4       b  0.370168

 after tranpose:
   Year  Month         a         b         c
0  2015      4       NaN       NaN  0.382156
1  2015     12  0.776151       NaN  0.366673
2  2016      1       NaN  0.383140  0.057523
3  2016      2  0.033073  0.286594       NaN
4  2016      3  0.917808  0.896885       NaN
5  2016      4       NaN  0.370168       NaN

### Rename columns

In [182]:
#NOTE: uses results from tranpose example

#rename multiple columns
df_T = df_T.rename(columns = {
    'a':'sales_a',
    'b':'sales_b',
        'c':'sales_c'
})
df_T

   Year  Month   sales_a   sales_b   sales_c
0  2015      4       NaN       NaN  0.382156
1  2015     12  0.776151       NaN  0.366673
2  2016      1       NaN  0.383140  0.057523
3  2016      2  0.033073  0.286594       NaN
4  2016      3  0.917808  0.896885       NaN
5  2016      4       NaN  0.370168       NaN

##### Rename all columns

In [216]:
df_temp=df_T.copy()
df_temp.columns = ['Year','Month','Q_a','Q_b','Q_c']
df_temp

   Year  Month       Q_a       Q_b       Q_c
0  2015      4       NaN       NaN  0.382156
1  2015     12  0.776151       NaN  0.366673
2  2016      1       NaN  0.383140  0.057523
3  2016      2  0.033073  0.286594       NaN
4  2016      3  0.917808  0.896885       NaN
5  2016      4       NaN  0.370168       NaN

### Conditionally fill or replace values

##### Conditionally replace values

In [14]:
df_temp=df_yearmoncomp.copy()
#df_temp.ix[df_temp.column_to_look_at, 'column_to_change'] = 0

#Set quantity to 0 for all Company b observations
df_temp.ix[df_temp.Company =='b', 'Quantity'] = 0
#change 2015 to 2017
df_temp.ix[df_temp.Year ==2015, 'Year'] = 2017
df_temp

   Quantity  Month  Year Company
0  0.933604     12  2017       a
1  0.000000      1  2016       b
2  0.579749      1  2016       c
3  0.088391      2  2016       a
4  0.000000      2  2016       b
5  0.477833     12  2017       c
6  0.073814      3  2016       a
7  0.000000      3  2016       b
8  0.697296      4  2017       c
9  0.000000      4  2016       b

##### Fill values in a column based on values in a different column

In [185]:
df_temp = pd.DataFrame(['python','sas','sas','stata','python'], columns=['language'])
#create empty rank column
df_temp['rank'] = np.NaN
print("before:")
print(df_temp)
#fill values
df_temp.loc[df_temp['language'] == 'python', 'rank'] = 1
df_temp.loc[df_temp['language'] == 'sas', 'rank'] = 2
df_temp.loc[df_temp['language'] == 'stata', 'rank'] = 3
print("\n after:")
print(df_temp)

before:
  language  rank
0   python   NaN
1      sas   NaN
2      sas   NaN
3    stata   NaN
4   python   NaN

 after:
  language  rank
0   python   1.0
1      sas   2.0
2      sas   2.0
3    stata   3.0
4   python   1.0

##### Replace all values in a row based on value in 1 column

In [16]:
#replace all values in row based on value in 1 column
df_temp = df.copy()
df_temp.ix[df_temp.b_us < .4] = 1
print(df_temp)

       a_us      b_us      a_ww      b_ww
0  0.896705  0.730239  0.783276  0.741652
1  0.462090  0.642565  0.224864  0.708547
2  0.747126  0.625107  0.579956  0.242640
3  1.000000  1.000000  1.000000  1.000000
4  0.069347  0.942829  0.372599  0.451989
       a_us      b_us      a_ww      b_ww
0  0.896705  0.730239  0.783276  0.741652
1  0.462090  0.642565  0.224864  0.708547
2  0.747126  0.625107  0.579956  0.242640
3  1.000000  1.000000  1.000000  1.000000
4  0.069347  0.942829  0.372599  0.451989

##### Fill values in 1 column conditionally on values in 2 other columns

In [136]:
df_temp = df.copy()
df_temp['a_or_b_large'] = np.where(((df_temp['a_us'] >.7) | (df_temp['b_us'] >.7)), 1, 0)
df_temp

       a_us      b_us      a_ww      b_ww  a_or_b_large
0  0.394509  0.668635  0.191607  0.369394             0
1  0.443367  0.349201  0.062144  0.952865             0
2  0.591099  0.051753  0.957755  0.762796             0
3  0.860369  0.024662  0.437576  0.360309             1
4  0.497550  0.009248  0.532356  0.174106             0

### Grab slices of dataframes

In [204]:
#grab based on column number (columns 2 through end)
dfa = df1.ix[:,2:]
#grab based on column names (columns 'b' through end)
dfb = df1.ix[:,'b':]
#grab based on column names (columns 'b' through 'd')
dfc = df1.ix[:,'b':'d']
print dfa.head()
print dfb.head()
print dfc.head()

          c         d         e         f
0  0.169423  0.180155  0.352746  0.342806
1  0.814922  0.379759  0.160829  0.970478
2  0.397825  0.577717  0.492796  0.017519
          b         c         d         e         f
0  0.033112  0.169423  0.180155  0.352746  0.342806
1  0.375779  0.814922  0.379759  0.160829  0.970478
2  0.740047  0.397825  0.577717  0.492796  0.017519
          b         c         d
0  0.033112  0.169423  0.180155
1  0.375779  0.814922  0.379759
2  0.740047  0.397825  0.577717

### Arithmetic on columns

In [ ]:
df['a_us'] = df['a_us'] * 10

### Modify a specific cell value

In [207]:
df_temp=pd.DataFrame(index=['A','B','C'], columns=['x','y'])
print(df_temp)
df_temp['x']['C']=10
print(df_temp)

     x    y
A  NaN  NaN
B  NaN  NaN
C  NaN  NaN
     x    y
A  NaN  NaN
B  NaN  NaN
C   10  NaN

# Sort and Collapse

### Sort

In [187]:
df_temp = df_yearmon.copy()
df_temp = df_temp.sort_values(['year','month'])
df_temp

          a         b         c         d  month  year
8  0.901647  0.227954  0.064358  0.994259      4  2015
0  0.827142  0.370083  0.484798  0.512167     12  2015
5  0.099361  0.674320  0.618731  0.772061     12  2015
1  0.947396  0.267417  0.700625  0.589952      1  2016
2  0.179912  0.520469  0.037285  0.558258      1  2016
3  0.723997  0.948128  0.638298  0.818449      2  2016
4  0.758410  0.080450  0.779991  0.838541      2  2016
6  0.356747  0.933392  0.612924  0.638265      3  2016
7  0.743848  0.720801  0.001431  0.435029      3  2016
9  0.307760  0.155673  0.290912  0.232360      4  2016

### Collapse

In [188]:
#NOTE: uses result from sorting example
sumcollapse = df_temp.groupby(by=['year','month'])['a','b'].sum().reset_index()
sumcollapse

   year  month         a         b
0  2015      4  0.901647  0.227954
1  2015     12  0.926503  1.044403
2  2016      1  1.127308  0.787886
3  2016      2  1.482407  1.028579
4  2016      3  1.100595  1.654193
5  2016      4  0.307760  0.155673

In [189]:
meancollapse = df_temp.groupby(by=['year','month'])['a','b'].mean().reset_index()
meancollapse

   year  month         a         b
0  2015      4  0.901647  0.227954
1  2015     12  0.463252  0.522201
2  2016      1  0.563654  0.393943
3  2016      2  0.741203  0.514289
4  2016      3  0.550298  0.827096
5  2016      4  0.307760  0.155673

### Sums without Collapsing

In [142]:
df_temp = df_yearmoncomp.copy()
#create a flag just for use in showing how to use .tranform on the group
df_temp['meaningless_flag'] = np.where(((df_temp['Quantity'] >.5) | (df_temp['Month'] ==1)), 1, 0)

df_temp = df_temp.sort_values(['Year','Month'])
#gets sum by month
df_temp["Month_TotalQ"] = df_temp.groupby(['Year', 'Month'])["Quantity"].transform(sum)
#includes in monthly sum only if flag =1
df_temp["Month_TotalQ_Flagged"] = df_temp[df_temp.meaningless_flag == 1].groupby(['Year', 'Month'])["Quantity"].transform(sum)
df_temp

,Quantity,Month,Year,Company,meaningless_flag,Month_TotalQ,Month_TotalQ_Flagged
8,0.977918,4,2015,c,1,0.977918,0.977918
0,0.280621,12,2015,a,0,0.347858,NaN
5,0.067238,12,2015,c,0,0.347858,NaN
1,0.503912,1,2016,b,1,0.743356,0.743356
2,0.239444,1,2016,c,1,0.743356,0.743356
3,0.483798,2,2016,a,0,0.521124,NaN
4,0.037326,2,2016,b,0,0.521124,NaN
6,0.981013,3,2016,a,1,0.981401,0.981013
7,0.000389,3,2016,b,0,0.981401,NaN
9,0.946711,4,2016,b,1,0.946711,0.946711

### Double collapses

In [223]:
df_temp = df_yearmoncomp.copy()
df_temp

   Quantity  Month  Year Company
0  0.776151     12  2015       a
1  0.383140      1  2016       b
2  0.057523      1  2016       c
3  0.033073      2  2016       a
4  0.286594      2  2016       b
5  0.366673     12  2015       c
6  0.917808      3  2016       a
7  0.896885      3  2016       b
8  0.382156      4  2015       c
9  0.370168      4  2016       b

In [231]:
df_temp = df_yearmoncomp.copy()
df_temp['cnt']=1
print(df_temp)
df_temp = df_temp.groupby(by=['Company','Year'])['cnt','Quantity'].sum().reset_index()
#replace counts greater than 1 for second collapse
df_temp.ix[df_temp.cnt > 1, 'cnt'] = 1
print("\n count by company and year:")
print(df_temp)
#second collapse
df_temp = df_temp.groupby(by=['Year'])['cnt','Quantity'].sum().reset_index()
print("\n number of companies in each year:")
print(df_temp)

   Quantity  Month  Year Company  cnt
0  0.776151     12  2015       a    1
1  0.383140      1  2016       b    1
2  0.057523      1  2016       c    1
3  0.033073      2  2016       a    1
4  0.286594      2  2016       b    1
5  0.366673     12  2015       c    1
6  0.917808      3  2016       a    1
7  0.896885      3  2016       b    1
8  0.382156      4  2015       c    1
9  0.370168      4  2016       b    1

 count by company and year:
  Company  Year  cnt  Quantity
0       a  2015    1  0.776151
1       a  2016    1  0.950881
2       b  2016    1  1.936788
3       c  2015    1  0.748829
4       c  2016    1  0.057523

 number of companies in each year:
   Year  cnt  Quantity
0  2015    2  1.524980
1  2016    3  2.945192

# Descriptive Info

### Get unique values for a given variable

In [190]:
#get all unique values for column boo
df_temp = df.copy()
df_temp['boo'] = df_temp.b_us < .4
print(pd.unique(df_temp.boo.ravel()))

[False True]

In [139]:
df_temp = df_yearmoncomp.copy()
df_temp['meaningless_flag'] = np.where(((df_temp['Quantity'] >.5) | (df_temp['Month'] ==1)), 1, 0)
df_temp

   Quantity  Month  Year Company  meaningless_flag
0  0.280621     12  2015       a                 0
1  0.503912      1  2016       b                 1
2  0.239444      1  2016       c                 1
3  0.483798      2  2016       a                 0
4  0.037326      2  2016       b                 0
5  0.067238     12  2015       c                 0
6  0.981013      3  2016       a                 1
7  0.000389      3  2016       b                 0
8  0.977918      4  2015       c                 1
9  0.946711      4  2016       b                 1

# Save a dataframe (and load saved df)

In [ ]:
df.to_pickle("temp_file.pkl")
df = pd.read_pickle('temp_file.pkl')

# Numpy stuff

### Create empty numpy array to work with

In [209]:
np.zeros(shape=(4,2))

array([[ 0.,  0.],
       [ 0.,  0.],
       [ 0.,  0.],
       [ 0.,  0.]])

### Convert slice of df to numpy array

In [211]:
np_arr = df.ix[:,:4].values
np_arr

array([[ 0.89670536,  0.73023921,  0.78327576,  0.74165167],
       [ 0.4620905 ,  0.64256513,  0.22486422,  0.70854663],
       [ 0.74712601,  0.62510742,  0.57995641,  0.24264034],
       [ 0.13195639,  0.14394847,  0.60363797,  0.58879082],
       [ 0.06934744,  0.94282887,  0.37259879,  0.45198934]])

### Get length of array

In [212]:
len(np_arr)

5

### Define a function

In [213]:
def eqns(d):
    #enter function equations and stuff here.
    eqn = np.zeros(2)
    eqn[0]=np.log(d(0));
    eqn[1]=np.log(d(1))+1;
    return eqn

### While loop

In [ ]:
maxt=6
t=0
#this wont run since not all variables are defined in this notebook.
while t<maxt:
    ds=np.log(s[t,0:3])-np.log(s[t,3].T)
    dn = sp.optimize.fsolve(eqns,ds)
    dn[0]=dn[0]+.01*vdiff[t]
    snew[:,t]=sp.optimize.fsolve(eqns2,s[t,:].T)
    t=t+1

### Tranpose array

In [ ]:
transpose=arrayname.T

# Random stuff

In [33]:
#fill in the unspecified values in this dataframe:
data = pd.DataFrame([['Brooklyn','Brooklyn'],['Astoria','Queens'],['Astoria','Unspecified'],['Ridgewood','Unspecified'],['Ridgewood','Queens']], columns=['City','Borough'])
print(data)

        City      Borough
0   Brooklyn     Brooklyn
1    Astoria       Queens
2    Astoria  Unspecified
3  Ridgewood  Unspecified
4  Ridgewood       Queens

In [36]:

specified = data[['Borough','City']][data['Borough']!= 'Unspecified']
paired = specified.Borough.groupby(specified.City).max()
paired = paired.to_dict()
#data['Borough'] = data.City.map(paired['Borough'])
paired

{'Astoria': 'Queens', 'Brooklyn': 'Brooklyn', 'Ridgewood': 'Queens'}

KeyError: 'Borough'

In [32]:
realData = data[data.Borough != "Unspecified"]
realData = pd.Series(data=realData.Borough.values, index=realData.City)
data['Borough'] = data.City.map(realData)
data

        City   Borough
0   Brooklyn  Brooklyn
1    Astoria    Queens
2    Astoria    Queens
3  Ridgewood    Queens
4  Ridgewood    Queens